
/* HEADER VARIABLES */
$header-height: 10%;


$background-color-primary: #251F2F;
$background-color-secondary: #767180;
$background-color-tertiary: #635AE0;

$font-color-light: white;
$font-color-dark: brown;

$font-size-headers: 20px;
$font-size-content: 20px;

$margin-size-primary: 20px;
$margin-size-secondary: 10px;

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

header {
    /* TODO: Update with banner here
    background-image: url(); */
    background-repeat: none;
    background-size: cover;
}

section {

    color: $font-color-light;
    margin: 0 auto;
    h1 {
        padding: $margin-size-primary 0px $margin-size-primary 0px;
    }
    .content {
        width: 80%;
        margin: 0 auto;
        h1 {
            padding: $margin-size-primary 0px $margin-size-primary 0px;
        }
    }

    h1, h2, p {
        font-family: "Lato", sans-serif;
    }
    p {
        font-size: 20px;
    }
}


body {
    background-color: $background-color-primary;
}

nav {
    color: $font-color-light;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    box-sizing: border-box;
    background: $background-color-secondary;
    height: $header-height;
    z-index: 9999;
    display: flex;
    align-items: center;
    justify-content: left;
    ul {
        display: flex;
        font-size: 30px;
        li {
            list-style: none;
            line-height: none;
            padding: 0px 15px 0px 15px;
        }
    }
    a {
        color: inherit;
        text-decoration: none;
    }
    
}

article {
    margin-top: $header-height;
}

h1 {
    font-size: 42px;
    font-weight: 700;
}

#home {
    text-align: center;


}


#about {
    text-align: center;
    h1 {
        background-color: #50E3C2;
        color: $background-color-primary;
        width: 50%;
        margin: 0 auto;
        margin-bottom: 30px;
        margin-top: 30px;
        padding: 0px 100px 0px 100px;
    }
}

#events {
    .event {
        display: flex;
        background-color: $background-color-tertiary;
        div {
            h2 {
                font-size: 40px;
                margin-bottom: 10px;
            }
            p {
                font-size: 24px;
            }
            margin: $margin-size-primary;
            width: 50%;
        }
        img {
            width: 50%;
        }
        margin: 0px 0px 50px 0px;
    }
}


#calendar {
    background-color: $background-color-secondary;
}

#officers {
    .officer {
        display: flex;
        flex-direction: column;
        .officer-image {
            height: 200px;
            width: 200px;
            margin: 0 auto;
        }
        height: 300px;
        width: 300px;
        text-align: center;
    }
    .officer-container {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }

}

#join {
    background-color: #7289DA;
    .content {
        display: flex;
    }
    h1 {
        width: 80%;
        margin: 0 auto;
    }
}

#contact {

}

footer {
    color: white;
}