/* HEADER VARIABLES */
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box; }

#home {
  position: relative;
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url(../images/HGD_Spring_2020_Game_Jam_WEBSITE_ver2.png);
  background-size: cover;
  background-position: center center;
  text-align: center;
  padding-top: 5em;
  height: 40em; }
  #home h1 {
    position: relative;
    color: #ffffff;
    font-size: 4em;
    line-height: 0.9;
    text-align: center; }
  #home #logo img {
    height: 250px;
    width: 200px; }

section {
  color: white;
  margin: 0 auto; }
  section h1 {
    padding: 20px 0px 20px 0px; }
  section .content {
    width: 80%;
    margin: 0 auto;
    padding-bottom: 50px; }
    section .content h1 {
      padding: 20px 0px 20px 0px; }
  section h1, section h2, section p {
    font-family: "Lato", sans-serif; }
  section p {
    font-size: 20px; }

body {
  background-color: #251F2F; }

nav {
  color: white;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  box-sizing: border-box;
  background: #767180;
  height: 5em;
  z-index: 9999;
  display: flex;
  align-items: center;
  justify-content: left;
  font-family: 'Montserrat', sans-serif; }
  nav ul {
    display: flex;
    font-size: 30px; }
    nav ul li {
      list-style: none;
      line-height: none;
      padding: 0px 15px 0px 15px; }
  nav a {
    color: inherit;
    text-decoration: none; }

h1 {
  font-size: 42px;
  font-weight: 700; }

#about h1 {
  background-color: #50E3C2;
  color: #251F2F;
  width: 50%;
  margin: 0 auto;
  margin-bottom: 30px;
  margin-top: 30px;
  padding: 0px 100px 0px 100px;
  text-align: center; }
#about p {
  width: 60%;
  margin: 0 auto; }

#events .event {
  display: flex;
  background-color: #635AE0;
  margin: 0px 0px 50px 0px;
  max-height: 400px; }
  #events .event div {
    margin: 20px;
    width: 50%; }
    #events .event div h2 {
      font-size: 40px;
      margin-bottom: 10px; }
    #events .event div p {
      font-size: 24px; }
  #events .event img {
    width: 50%;
    object-fit: cover; }

#calendar {
  background-color: #767180; }
  #calendar h1 {
    width: 80%;
    margin: 0 auto; }
  #calendar .content {
    display: flex;
    align-items: center;
    justify-content: center; }

#officers .officer {
  display: flex;
  flex-direction: column;
  height: 300px;
  width: 300px;
  text-align: center; }
  #officers .officer .officer-image {
    height: 200px;
    width: 200px;
    margin: 0 auto; }
#officers .officer-container {
  display: flex;
  flex-direction: row;
  justify-content: center; }

#join {
  background-color: #7289DA; }
  #join .content {
    display: flex; }
  #join h1 {
    width: 80%;
    margin: 0 auto; }

#social-media {
  padding-top: 10px; }
  #social-media ul {
    padding: 0;
    list-style: none; }
  #social-media .social-icons li {
    vertical-align: top;
    display: inline; }
  #social-media .social-icons a {
    color: #fff;
    text-decoration: none; }
  #social-media .fa {
    padding: 20px 20px;
    -o-transition: .25s;
    -ms-transition: .25s;
    -moz-transition: .25s;
    -webkit-transition: .25s;
    transition: .25s; }
  #social-media .fa-facebook:hover {
    background-color: #3d5b99; }
  #social-media .fa-twitter:hover {
    background-color: #00aced; }
  #social-media .fa-youtube:hover {
    background-color: #e64a41; }
  #social-media .fa-linkedin:hover {
    background-color: #0073a4; }
  #social-media .fa-github:hover {
    background-color: #5a32a3; }

/*# sourceMappingURL=style.css.map */
