header {
    text-align: center;
    /* TODO: Update with banner here
    background-image: url(); */
    background-repeat: none;
    background-size: cover;
}

nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    box-sizing: border-box;
    background: gray;
    height: 80px;
    padding: 10px 50px;
}

nav ul {
    margin: 0;
    padding: 0;
    display: flex;
}

nav ul li {
    list-style: none;
    line-height: none;
}

h1,
h2 {
    font-family: "Lato", sans-serif;
}

#about h1 {
    
}